---
layout: default
---
<article class="post" itemscope itemtype="http://schema.org/BlogPosting">

  <header class="post-header">
    {% if page.imagesrc %}
      <div class="post-image">
        <img src="{{ page.imagesrc }}" alt="post image {{ page.title }}">
      </div>
    {% endif %}

    <h1 class="post-title" itemprop="name headline">{{ page.title | escape }}</h1>
    <p class="post-meta">
      <time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">{{ page.date | date: "%m.%-d.%Y" }}</time>
      {% if page.author %} • 
        <span itemprop="author" itemscope itemtype="http://schema.org/Person">
          <span itemprop="name">{{ page.author }}</span>
        </span>
      {% endif %}
    </p>
  </header>

  <aside class="share">
    <h1>share</h1>
    <ul>
      <li><a href="https://twitter.com/share?via=cricodeclub&text={{ page.tweet_text | uri_escape }}" class="share-button" target="_blank"><i class="fa fa-twitter"></i></a></li>
      <li><a href="https://facebook.com/sharer.php?u=cricodeclub.github.io{{ page.url }}" class="share-button" target="_blank"><i class="fa fa-facebook"></i></a></li>
    </ul>
    
  </aside>

  <div class="post-content" itemprop="articleBody">
    {{ content }}
  </div>

</article>
